*{
  padding: 0;
  margin: 0;
  display: border-box;
}
.container {
  width: auto;
  height: auto;
}

.reg-img {
  width: 10rem;
}

.reg-background {
  background-color: tomato;
  content: '';
  width: 230px;
  height: 180px;
  z-index: 1;
}
